name: Build

on:
  workflow_dispatch:
  release:
    types:
    - published

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: pipx run twine check dist/*

    - uses: actions/upload-artifact@v2
      with:
        path: dist/*.tar.gz
  build_wheels:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Windows 64bit
          - os: windows-2019
            python: 38
            bitness: 64
            platform_id: win_amd64
          - os: windows-latest
            python: 310
            bitness: 64
            platform_id: win_amd64
          - os: windows-latest
            python: 311
            bitness: 64
            platform_id: win_amd64
          - os: windows-latest
            python: 312
            bitness: 64
            platform_id: win_amd64

          # Linux x86_64 manylinux2014
          - os: ubuntu-latest
            python: 38
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux_2_28
          - os: ubuntu-latest
            python: 310
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux_2_28
          - os: ubuntu-latest
            python: 311
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux_2_28
          - os: ubuntu-latest
            python: 312
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux_2_28

          # Linux aarch64 manylinux2014
          - os: ubuntu-latest
            python: 38
            bitness: 64
            platform_id: manylinux_aarch64
            manylinux_image: manylinux_2_28
          - os: ubuntu-latest
            python: 310
            bitness: 64
            platform_id: manylinux_aarch64
            manylinux_image: manylinux_2_28
          - os: ubuntu-latest
            python: 311
            bitness: 64
            platform_id: manylinux_aarch64
            manylinux_image: manylinux_2_28
          - os: ubuntu-latest
            python: 312
            bitness: 64
            platform_id: manylinux_aarch64
            manylinux_image: manylinux_2_28

    name: Build wheel for cp${{ matrix.python }}-${{ matrix.platform_id }}-${{ matrix.manylinux_image }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      # Used to host cibuildwheel
      - uses: actions/setup-python@v2
      
      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.4.0

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.21.2
        env:
          CIBW_BUILD: cp${{ matrix.python }}-${{ matrix.platform_id }}
          CIBW_ARCHS: all
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux_image }}
          CIBW_BUILD_VERBOSITY: 1

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
  upload_all:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: (github.event_name == 'release' && github.event.action == 'published') || github.event_name == 'workflow_dispatch'
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.10.3
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
